@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&family=Sofia+Sans:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    position: absolute;
  background-color: antiquewhite;
    font-family: 'Noto Serif', serif;
    height: 100vh;
    transition: transform 0.3s ease;
}
.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: rgb(36, 8, 97);
}

.main{
  /*  background-color: rgb(228, 196, 237);*/
    width: 90vw;
}
.container{
    display: flex;
}
.infocon{
   /*background-color: aquamarine;*/
    height: 58vh;
    width: 70vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    
}

.myinfo{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Noto Serif', serif;
}

.hello{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
font-family: 'Sofia Sans', sans-serif;
    
}
.name{
    font-size: 50px;
    font-family: 'Noto Serif', serif;
}
.about{
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Noto Serif', serif;
    font-family: 'Sofia Sans', sans-serif;
}

.moreabput{
font-size: 20px;
margin-top: 23px;
}

.btn{
    margin-top: 34px;
}

.btn{
 padding: 9px 14px;
 border-radius: 22px;
 color: aliceblue;
 background-color: rgb(13, 41, 151);
 font-weight: bold;
 font-size: 21px;
 margin: 0 3px;
 cursor: pointer;
}
.btn-sm{
    font-size: 10px;
    padding: 7px 13px;
    margin: 10px 0;
}
.btn:hover{
    background-color: aliceblue;
    color: rgb(13, 41, 151);
}

.mypic img{
    height: 58vh;
}

.contactform{
    padding: 0 34px;
    padding-top: 144px;
    font-family: 'Noto Serif', serif;
}

.contactform h1{
    font-family: 'Noto Serif', serif;
    padding: 12px 0;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
   width: 26vw;
   border-radius: 5px;
   margin: 6px 0 0 0;
   padding: 3px;
}

#emailHelp{
    font-size: 11px;
    color: rgb(36, 8, 97);
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}
.blogitem{
    margin: 20px;
    font-family: 'Sofia Sans', sans-serif;
}
h1{
    margin: 22px;
    font-family: 'Sofia Sans', sans-serif;
}
p{
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 900;
}
.intro h2{
    font-family: 'Noto Serif', serif;
    margin: 12px;
}
.intro p{
    font-family: 'Noto Serif', serif;
    margin: 12px;
}
.skillcontainer{
    padding: 12px;}

.skillitem{
    display: flex;
    align-items: center;
    font-weight: 200;
}
.skill{
    width: 265px;
    height: 6px;
    background-color: aqua;
    border: 2px solid black;
}
.hundred{
    width: 265px;
    background-color: chartreuse;
}
.fifty{
    width: 125px;
    background-color: indianred;
}
.t5{
    width: 75px;
    background-color: darkcyan;
}

.sidebargo{
    transform: translate(-443px, 0px);
    position: absolute;
}
.hamburger{
position: absolute;
cursor: pointer;
top: 10px;
left: 10px;
}
.ham{
    margin-top: 10px;
}
.cross{
    margin-left: 185px;
    margin-top: 10px;
}
@media (max-width: 1615px) {
 *{
    /*background-color: antiquewhite;*/
  }
  .devpic{
    display: none;
  }
/*.sidebar{
    transform: translate(-443px, 0px);
    position: absolute;
}*/
}